.promo {
  margin-top: -5%;
  width: 100%;
}

.promo-span {
  color: var(--color-primary);
  font-size: 120px;
  text-align: center;
  width: 100%;
}

.promo-age {
  color: var(--color-primary);
  font-size: 120px;
  text-align: center;
  width: 100%;
  margin-top: 0;
}